<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/prod.css">
    <link rel="stylesheet" href="/cards.css">
    <link rel="stylesheet" href="/style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <title>Products</title>
</head>
<body>


  <% products.forEach(product => { %>
    <% }); %>
    <header>
      <div class="logo">
        Ahub
      </div>
  
      <nav class="nav">
        <li class="dropdown">
          Living Room
          <div class="dropdown-content">
            <a href="/products/LivingRoom/Sectionals" class="link-with-icon">Sectionals<i class="ri-arrow-right-s-line"></i></a>
            <a href="/products/LivingRoom/Sofas" class="link-with-icon">Sofas<i class="ri-arrow-right-s-line"></i></a>
            <a href="/products/LivingRoom/Chairs" class="link-with-icon">Chairs<i class="ri-arrow-right-s-line"></i></a>
            <a href="/products/LivingRoom/Tv Stands" class="link-with-icon">TV Stands<i class="ri-arrow-right-s-line"></i></a>
            <a href="/products/LivingRoom/Coffee Table" class="link-with-icon">Coffee Table<i class="ri-arrow-right-s-line"></i></a>
          </div>
        </li>
  
        <li class="dropdown">
          Dining Room
          <div class="dropdown-content">
            <a href="/products/DiningRoom/Dining Tables" class="link-with-icon">Dining Tables<i class="ri-arrow-right-s-line"></i></a>
            <a href="/products/DiningRoom/Dining Chairs" class="link-with-icon">Dining Chairs<i class="ri-arrow-right-s-line"></i></a>
            <a href="/products/DiningRoom/Dining Sets" class="link-with-icon">Dining Sets<i class="ri-arrow-right-s-line"></i></a>
          </div>
        </li>
  
        <li class="dropdown">
          Bedroom
          <div class="dropdown-content">
            <a href="/products/Bedroom/Beds" class="link-with-icon">Beds<i class="ri-arrow-right-s-line"></i></a>
          </div>
        </li>
  
        <li class="dropdown">
          Outdoor
          <div class="dropdown-content">
            <a href="/products/Outdoor/Outdoor Sectionals" class="link-with-icon" >Outdoor Sectionals<i class="ri-arrow-right-s-line"></i></a>
            <a href="/products/Outdoor/Outdoor Chairs" class="link-with-icon">Outdoor Chairs<i class="ri-arrow-right-s-line"></i></a>
          </div>
        </li>
  
        <li class="dropdown">
          Home office
          <div class="dropdown-content">
            <a href="/products/HomeOffice/Office Chairs" class="link-with-icon">Office Chairs<i class="ri-arrow-right-s-line"></i></a>
            <a href="/products/HomeOffice/Office Tables" class="link-with-icon">Office Tables<i class="ri-arrow-right-s-line"></i></a>
            <a href="/products/HomeOffice/Office Sets" class="link-with-icon">Office Sets<i class="ri-arrow-right-s-line"></i></a>
          </div>
        </li>
      </nav>
  
      <div class="icons">
        <a href="/login"><i class="ri-user-line"></i></a>
        <a href="/shoppingcart"><i class="ri-shopping-bag-2-line"></i></a>
      </div>
    </header>
  
   

    

    
  
    
 

  <div class="viewproduct">
    <div class="div_left">
      <div class="images">
        <div class="otherImages">
          <% products.forEach(product => { %>

           
              <!-- Display main image -->
              <img src="data:<%= product.mainImage.contentType %>;base64,<%= product.mainImage.data.toString('base64') %>" alt="Main Image" onclick="displayImage('<%= product.mainImage.data.toString('base64') %>')">
            
        
            <% product.otherImages.forEach((image, index) => { %>
            
                <img src="data:<%= image.contentType %>;base64,<%= image.data.toString('base64') %>" alt="Thumbnail <%= index + 1 %>" onclick="displayImage('<%= image.data.toString('base64') %>')">
            
            <% }); %>
        
        <% }); %>
        
   
        </div>
        <div class="mainImage">
          <% products.forEach(product => { %>
          <img id="mainImage"  src="data:<%= product.mainImage.contentType %>;base64,<%= product.mainImage.data.toString('base64') %>" alt="Main Image">
        
          <% }); %>
        </div>
      </div>
    </div>
    
   <div class="div_right">
    <div class="card-content">
      <% products.forEach(product => { %>
            
            <h1 class="stock" style="color: #228B22; font-weight: bold;">Yes&nbsp;<%= product.stock %> in stock</h1>
            <h1><%= product.name %></h1><br>
            <div class="span">
                <span>KES</span>&nbsp;<p><%= product.price %></p>
            </div>
            

              <div class="last">
                  
                  <div class="quantity">
                        
                      <button   onclick="addToCart('<%= product.name %>', '<%= product.price %>','<%= product.color %>', 'data:<%= product.mainImage.contentType %>;base64,<%= product.mainImage.data.toString('base64') %>')">Add to Cart</button>
                  </div>
              </div>
          
             <h2>Description</h2>
             <p class="description"><%= product.description %></p><br>
   
<% }); %>
    </div>
   </div>
    
    
  </div>
  <h1 class="h1">Product details</h1>
  <div class="products">
    <div class="allprod">
          
          <h1>Dimensions</h1>
      <div class="card-content">
        <% products.forEach(product => { %>
          
            
             
              <div class="div__left">
                <div class="detail color">
                  <label for="">Dimensions</label><p><%= product.dimensions %></p><br>
                </div>
              <div class="detail">
                <label for="">Weight</label><p><%= product.weight %></p><br>
              </div>
              <div class="detail color">
                <label for="">Width</label><p><%= product.width %></p><br>
              </div>
            <div class="detail">
              <label for="">Height</label><p><%= product.height %></p><br>
            </div>
              </div>
              <div class="div__right">
                <div class="detail color">
                  <label for="">Package Dimensions</label><p><%= product.pdimensions %></p><br>
                </div>
              <div class="detail">
                <label for="">Depth</label><p><%= product.depth %></p><br>
              </div>
              </div>
  
            
             
             
              
              
          
     
  <% }); %>
      </div>

      <h2>Styling</h2>
      <div class="card-content1">
        <% products.forEach(product => { %>
          
            
             
              <div class="div__left">
                <div class="detail color">
                  <label for="">Style</label><p><%= product.style %></p><br>
                </div>
              <div class="detail">
                <label for="">Material</label><p><%= product.Material %></p><br>
              </div>
            
              </div>
              <div class="div__right">
                <div class="detail color">
                  <label for="">Color</label><p><%= product.color %></p><br>
                </div>
              <div class="detail">
                <label for="">Shape</label><p><%= product.shape %></p><br>
              </div>
              </div>
  
            
             
             
              
              
          
     
  <% }); %>
      </div>

      <h2>Delivery Information</h2>
      <div class="card-content2">
        <% products.forEach(product => { %>
          
            
             
              <div class="div__left">
                <div class="detail color">
                  <label for="">What type of assembly is required</label><p><%= product.delivery %></p><br>
                </div>
              
            
              </div>
              <div class="div__right">
                <div class="detail color">
                  <label for="">Minimum Doorway Clearance:(in)</label><p><%= product.doorway %></p><br>
                </div>
              <div class="detail">
                <label for="">Assembly Time</label><p><%= product.time %></p><br>
              </div>
              </div>
  
            
             
             
              
              
          
     
  <% }); %>
      </div>


    </div>
    
  </div>
  <div class="bestsellers1">
    
   
    <div class="swiper-button-next">
      
    </div>
    
    <div class="swiper-button-prev">
     
    </div>
     
     <!-- Swiper -->
     <div class="swiper mySwiper">
    
      



      <div class="swiper-wrapper">
        
        <% products.forEach(product => { %>
          <div class="swiper-slide">
              <a href="/products/<%= product.name %>">
                  <div class="slideshow">
                      <img src="data:<%= product.mainImage.contentType %>;base64,<%= product.mainImage.data.toString('base64') %>" alt="Main Image">
                  </div>
                  <div class="card-content">
                      <h1><%= product.name %></h1><br>
                      <p><span>KES</span>&nbsp;<%= product.price %></p>
                      <div class="div__flex">
                        <h2><%= product.discount %></h2>&nbsp;&nbsp;<span class="span">Deal</span><br>
                      </div>
                  </div>
              </a>
          </div>
      <% }); %>
      
      </div>
     </div>
    

  </div>
  
  <section class="footer1">
    <div class="footer-content">
     <h1>Our Company</h1>
       <ul>
         <li>Home</li>
         <li>Terms & Conditions</li>
         <li>Privacy policy</li>
         <li>About Us</li>
         <li>Contact us</li>
       </ul>
    </div>
    <div class="footer-content">
     <h1>Get Help</h1>
     <ul>
       <li>FAQs</li>
       <li>Shipping</li>
       <li>Returns</li>
       <li>Order Status</li>
       <li>Payment options</li>
     </ul>
   </div>

   <div class="footer-content">
     <h1>Explore</h1>
     <ul>
       <li>Living Room</li>
       <li>Dining Room</li>
       <li>Bedroom</li>
       <li>Outdoor</li>
       <li>Home Office</li>
     </ul>
   </div>

   <div class="footer-content">
     <h1>Follow us</h1>
     <div class="social_links">
       <li><i class="ri-twitter-x-line"></i></li>
       <li><i class="ri-facebook-fill"></i></li>
       <li><i class="ri-instagram-line"></i></li>
       <li><i class="ri-linkedin-line"></i></li>
     </div>
   </div>
   
 </section>
    
        <script>
            function displayImage(base64Data) {
              document.querySelector('#mainImage').src = 'data:image/png;base64,' + base64Data;
            }
          </script>
           <!-- Swiper JS -->
   <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

   <!-- Initialize Swiper -->
   <script>
     var swiper = new Swiper(".mySwiper", {
       slidesPerView: 4,
       spaceBetween: 10,
       loop: true,
      // autoplay: {
       // delay: 2500,
       // disableOnInteraction: false,
     // },
       navigation: {
         nextEl: ".swiper-button-next",
         prevEl: ".swiper-button-prev",
       },
     });
   </script>
 

<!-- ... existing HTML ... -->
<!-- Include this script at the end of your index.ejs file -->
<!-- Include this script at the end of your index.ejs file -->
<script>
  function addToCart(name, price, color, image) {
    // Set a fixed quantity or calculate it based on your requirements
    const quantity = 1;

    // Get the existing cart data from local storage or initialize an empty array
    const cartData = JSON.parse(localStorage.getItem('cart')) || [];

    // Ensure that cartData is an array
    if (!Array.isArray(cartData)) {
      // If it's not an array, initialize an empty array
      const newCartData = [];
      newCartData.push(cartData);
      
      localStorage.setItem('cart', JSON.stringify(newCartData));
    } else {
      // Check if the product is already in the cart
      const existingProduct = cartData.find(product => product.name === name && product.color === color);

      if (existingProduct) {
        // If the product is already in the cart, update the quantity
        existingProduct.quantity += quantity;
      } else {
        // If the product is not in the cart, add it
        const newProduct = { name, price, quantity, color, image };
        cartData.push(newProduct);
      }

      // Save the updated cart data back to local storage
      localStorage.setItem('cart', JSON.stringify(cartData));
      console.log(cartData)
    }
  }
</script>






<!-- ... cart script ... -->









    
</body>
</html>
